@import "variables";

img#banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: 50% 55%;
}

div.accordion-flush {
    div.accordion-item {
        h2.accordion-header {
            button.accordion-button:focus {
                border-color: $goldengrey !important;
                box-shadow  : 0 0 0 0.25rem rgb(152 153 133 / 25%) !important;
            }

            button.accordion-button:not(.collapsed) {
                color           : $light !important;
                background-color: rgb(152 153 133 / 75%) !important;
            }

            button.accordion-button::after {
                color: $light !important;
            }
        }
    }
}